html,body{
    margin:0px;
    padding:0px;
    height: 100%;
    width: 100%;
    font-family: "Microsoft YaHei";
}
.background-size{
    background-size: 100%;
}
.background-repeat{
    background-repeat: no-repeat;
}
.header{
    width: 100%;
    height: 224px;
    background-image: url("../images/header.png");
    background-repeat: repeat;
    background-color: #7B79FF;
    margin: 0 auto;
}
.content{
    width: 90%;
    height: 100%;
    background-image: url("../images/content.png");
    background-position: bottom;
    margin: 0 auto;
}
